language: csharp
sudo: required
mono: none
dotnet: 2.2.300
dist: xenial
os:
  - linux
  - osx
osx_image: xcode11
cache:
  directories:
    - $HOME/.nuget/packages
env:
  global:
    - REAL_BRANCH=$(git ls-remote origin | sed -n "\|$TRAVIS_COMMIT\s\+refs/heads/|{s///p}")
before_install:
  - bash scripts/install_protobuf.sh
install:
  - export DOTNET_CLI_TELEMETRY_OPTOUT=1
script:
  - bash scripts/build.sh
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then bash scripts/test.sh          ; fi
after_script:
  - curl -s https://codecov.io/bash > codecov
  - chmod +x codecov
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./codecov -f "./test/results/coverage.opencover.xml" -t $CODECOV_TOKEN          ; fi 
deploy:
  - provider: script
    script:
      bash scripts/deploy_myget.sh $TRAVIS_TAG $MYGET_API_KEY
    on:
      tags: true
      all_branches: true
      condition: "$REAL_BRANCH = dev && $TRAVIS_OS_NAME = linux"
  - provider: script
    script:
      bash scripts/deploy_docker.sh $TRAVIS_TAG $DOCKER_USERNAME $DOCKER_PASSWORD;
      bash scripts/deploy_nuget.sh $TRAVIS_TAG $NUGET_API_KEY
    on:
      tags: true
      all_branches: true
      condition: "$REAL_BRANCH =~ ^dev|^master|release-.*$ && $TRAVIS_OS_NAME = linux"
  - provider: script
    script:
      bash scripts/deploy_myget_daily.sh $DAILY_BUILD_VERSION_PREFIX $MYGET_API_KEY
    on:
      tags: false
      all_branches: true
      condition: "$REAL_BRANCH = dev && $TRAVIS_OS_NAME = linux && $TRAVIS_EVENT_TYPE = cron"
