jobs:

# All tasks on Windows....
- job: build_all_windows
  displayName: Build all tasks (Windows)
  pool:
    vmImage: vs2017-win2016
  steps:
  - task: DotNetCoreInstaller@0
    inputs:
      version: '2.2.300'
  - script: choco  install  protoc --version 3.6.0 -y
  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      projects: 'AElf.sln'
      arguments: '/p:NoBuild=false --configuration Debug'
  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      projects: 'AElf.Console.sln'
      arguments: '/p:NoBuild=false --configuration Debug'
  - task: DotNetCoreCLI@2
    inputs:
      command: 'test'
      projects: 'AElf.sln'
  


# All tasks on Linux
- job: build_all_linux
  displayName: Build all tasks (Linux)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - task: DotNetCoreInstaller@0
    inputs:
      version: '2.2.300'
  - script: sudo apt update ;sudo apt install nodejs -y
  - script: bash scripts/install_protobuf.sh
  - script: LD_LIBRARY_PATH=$HOME/.chakracore/1_11_1/:$LD_LIBRARY_PATH;bash scripts/install_chakracore.sh 1_11_1
  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      projects: 'AElf.sln'
      arguments: '/p:NoBuild=false --configuration Debug'
  - task: DotNetCoreCLI@2
    inputs:
      command: 'test'
      projects: 'AElf.sln'


# All tasks on macOS
- job: build_all_darwin
  displayName: Build all tasks (macOS)
  pool:
    vmImage: macos-10.13
  steps:
  - task: DotNetCoreInstaller@0
    inputs:
      version: '2.2.300' 
  - script: bash scripts/install_protobuf.sh
  - script: LD_LIBRARY_PATH=$HOME/.chakracore/1_11_1/:$LD_LIBRARY_PATH;bash scripts/install_chakracore.sh 1_11_1
  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      projects: 'AElf.sln'
      arguments: '/p:NoBuild=false --configuration Debug'
