<?xml version="1.0" encoding="utf-8"?>
<!-- This XML defines run settings for code coverage. -->
<!-- File name extension must be .runsettings -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>      
       <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[xunit.*]*,[*Tests]*</Exclude> <!-- [Assembly-Filter]Type-Filter -->
          <ExcludeByFile>**/test/**/*.cs,**/AElf.ContractTestBase/**/*.cs,**/AElf.ContractTestKit/**/*.cs,**/AElf.ContractTestKit.AEDPoSExtension/**/*.cs,**/AElf.Database/**/*.cs,**/AElf.ContractDeployer/Program.cs,**/AElf.WebApp.Web/*.cs</ExcludeByFile>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
        </Configuration>
      </DataCollector>    
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
