<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="layout" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} - ${logger}]: ${message} ${exception:format=toString}" />

    <targets>

        <!-- See autofac logger config for final setup -->
        <target name="file" xsi:type="File" fileName="logs/aelf.log" layout="${layout}"
                ArchiveOldFileOnStartup="True"
                maxArchiveFiles="5"
                archiveDateFormat="yyyy-MM-dd--HH_mm_ss"
                archiveNumbering="Date" />

        <target name="console" xsi:type="Console" layout="${layout}" />

    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
        <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
</nlog>