manager {
    system-name: "AElfSystem"
}

akka {
    actor {
        provider = cluster
    }
    
    remote {
        log-remote-lifecycle-events = DEBUG
        dot-netty.tcp {
            transport-class = "Akka.Remote.Transport.DotNetty.TcpTransport, Akka.Remote"
            applied-adapters = []
            transport-protocol = tcp
            hostname = "127.0.0.1"
            port = 0
        }
    }

    cluster {
        seed-nodes = [] 
        roles = [monitor]
    }
}